*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Roboto Condensed', sans-serif;
  }

@import url('partials/_variables.scss');
@import url('partials/_header.scss');
@import url('partials/_comics.scss');
@import url('partials/_footer.scss');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');
