@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap);

.navbar {
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.navbar img {
    width: 70px;
}

.menu-list {
    display: flex;
    list-style: none;
    height: 100%;
}

.menu-list li {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 1.5rem;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
}

.menu-list a {
    text-decoration: none;
    color: rgb(76, 70, 70);
}

.menu-list li:hover {
    border-bottom: 3px solid rgb(12, 124, 236);
    ;
}

.menu-list li:hover a {
    color: rgb(12, 124, 236);
}


.jumbo{
    height: 400px;
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
}

main {
    background-color: rgb(28, 28, 28);
    color: white;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.current-series {
    background-color: rgb(12, 124, 236);
    position: absolute;
    left: 0;
    top: -1rem;
    padding: 0.5rem 1rem;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.buttons {
    margin-top: 2rem;
    text-align: center;
}

.load {
    background-color: rgb(12, 124, 236);
    color: white;
    padding: 0.5rem 3rem;
    font-size: 12px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.load:hover {
    background-color: white;
    color: rgb(12, 124, 236);
}

.card-comic {
    flex: 0 0 15%;
}


.main-content {
    height: 100%;
    padding: 1rem 0;
}

.main-content img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
}

.main-content h2 {
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}


.shop-section {
    background-color: rgb(12, 124, 236);
}

.shop-section .container {
    height: 140px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container .card-shop {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}

.card:hover {
    text-decoration: underline;
}

.card-shop img {
    width: 45px;
    margin-right: 1rem;
}

.location-img {
    width: 37px;
}

.footer-links {
    background-image: url('../img/footer-bg.jpg');
    background-size: cover;
}

.footer-link .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.img-container {
    width: 50%;
    background-image: url('../img/dc-logo-bg.png');
    background-position: center;
    background-repeat: no-repeat;
}

.link-list {
    display: flex;
    color: white;
    margin: 2rem 0;
}

.link-list ul {
    font-weight: 700;
    list-style: none;
    margin: 0 1.5rem 1rem 0;
}

.link-list h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.link-list li {
    font-weight: 500;
    margin: .3rem 0;
    font-size: 13px;
    cursor: pointer;
}

.link-list a {
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}

.link-list a:hover {
    text-decoration: underline;
    color: white;
}


.first-item-list {
    margin-top: 1rem;
}


.shop-list {
    margin-top: 2rem;
}


.footer-social {
    height: 100px;
    background-color: rgb(48, 48, 48);
}

.footer-social .container {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social {
    display: flex;
    align-items: center;
    color: rgb(12, 124, 236);
    font-weight: 700;
    cursor: pointer;
}

.follow-us:hover {
    color: white;
    text-decoration: underline;
}

.icons img {
    width: 30px;
    margin-left: 1rem;
}


button {
    padding: .7rem;
    color: white;
    background-color: rgb(48, 48, 48);
    border: 2px solid rgb(12, 124, 236);
    cursor: pointer;
}

button:hover {
    background-color: rgb(12, 124, 236);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Condensed", sans-serif;
}
