main {
    background-color: rgb(28, 28, 28);
    color: white;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5rem 0;
    position: relative;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.current-series {
    background-color: rgb(12, 124, 236);
    position: absolute;
    left: 0;
    top: -1rem;
    padding: 0.5rem 1rem;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.buttons {
    margin-top: 2rem;
    text-align: center;
}

.load {
    background-color: rgb(12, 124, 236);
    color: white;
    padding: 0.5rem 3rem;
    font-size: 12px;
    font-weight: 700;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.load:hover {
    background-color: white;
    color: rgb(12, 124, 236);
}

.card-comic {
    flex: 0 0 15%;
}


.main-content {
    height: 100%;
    padding: 1rem 0;
}

.main-content img {
    max-width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;
}

.main-content h2 {
    margin-top: 1rem;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

